html {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  padding: 0;
}

body {
  margin: 0;
  color: #fefefe;
}

.header {
  display: flex;
  align-items: center;
  position: fixed; 
  top: 0;
  width: 100%;
  height: 56px;
  transition: background-color 0.3s;
  z-index: 100;
}

.header.scrolled {
  background-color: #fefefe8d;
  backdrop-filter: blur(10px);
}

.menu {
  margin-left: 16px;
  cursor: pointer;
}

.header-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.header .header-title {
  text-align: center;
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  white-space: nowrap;
  text-decoration: none;
}

.header .header-title.white-text {
  color: #fefefe;
}

.header.scrolled .header-title {
  color: #333333;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  min-width: 300px;
  overflow-y: auto;
  font-weight: 700;
  background-color: #fefefe8d;
  z-index: 100;
  transition: transform 0.3s;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

.close {
  width: 24px;
  height: 24px;
  margin: 0 16px;
  cursor: pointer;
}

.sidebar-title {
  margin: 0 56px 0 0;
  text-align: center;
  flex-grow: 2;
}

.sidebar-title a {
  color: #333333;
  text-decoration: none;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  margin: 0 0 0 16px;
  padding: 0 20px;
}

.sidebar ul li {
  padding: 16px 0 0 0;
}

.sidebar ul li a {
  color: #333333;
  text-decoration: none;
}

.sidebar-hidden {
  transform: translateX(-100%);
}

footer {
  position: relative; /* Относительное позиционирование для footer'а */
  font-size: 24px;
  color: #606060;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: rgba(207, 207, 207, 1);
  display: flex; /* Используем flexbox для контейнера footer'а */
  height: 400px;
  justify-content: space-around;
  align-items: flex-start; /* Выравниваем элементы по верхнему краю */
}

footer a {
  margin-top: 40px; /* Равномерно распределяем пространство между элементами */
  text-decoration: none; /* Убираем подчеркивание, которое часто присутствует у ссылок */
  color: inherit; /* Наследуем цвет текста от его родительского элемента (footer) */
}

.bottom-label {
  font-size: 48px;
  position: absolute; /* Абсолютное позиционирование */
  bottom: 37px; /* Размещаем внизу */
  left: 7%; /* Размещаем по центру */
  transform: translateX(-50%); /* Центрируем по горизонтали */
  padding-top: 10px;
}

.bottom-store {
  font-weight: normal;
  font-size: 30px;
  position: absolute; /* Абсолютное позиционирование */
  bottom: 10px; /* Размещаем внизу */
  left: 8.35%; /* Размещаем по центру */
  transform: translateX(-50%); /* Центрируем по горизонтали */
}

.social-icons {
  position: absolute;
  bottom: 40px; /* Размещаем внизу */
  left: 50%; /* Размещаем по центру */
  transform: translateX(-40%); /* Центрируем по горизонтали */
}

.social-icon {
  margin-right: 50px;
}

.hidden {
  display: none;
}

@media(max-width: 788px) {
  .header .header-title {
    font-size: 36px;
    line-height: 36px;
  }
}
