.basket-catalog-title {
  margin: 64px 0 64px 70px;
  font-size: 48px;
  font-weight: 700;
  color: #333333;
  text-align: left;
}

.empty-basket-catalog-title {
  height: 1080px;
  margin: 64px 0 64px 70px;
  font-size: 48px;
  font-weight: 700;
  color: #333333;
  text-align: left;
}

.product-container {
  flex-basis: calc(25% - 10px);
  margin: 0 90px 20px;
  box-sizing: border-box;
}

/* Изображение товара */
.product-image {
  width: 310px; /* Ширина изображения */
  height: 380px;
  height: auto; /* Автоматическая высота */
  margin-right: 0px; /* Отступ справа */
}

.product-title {
  margin-left: 450px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

/* Цена товара */
.product-price {
  margin-left: 450px;
  font-size: 16px;
  color: #333333;
}
