a.no-underline {
  text-decoration: none;
}

.basic-catalog-title {
  margin: 64px 0 64px 70px;
  font-size: 48px;
  font-weight: 700;
  color: #333333;
  text-align: left;
}

.basic-image-container {
  position: relative;
  overflow: hidden;
}

.basic-image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.basic-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.basic-catalog .basic-catalog-item {
  flex-basis: calc(25% - 10px);
  margin: 0 5px 20px;
  box-sizing: border-box;
}

.basic-catalog .basic-catalog-item .basic-image-container {
  position: relative;
  overflow: hidden;
}

.basic-catalog .basic-catalog-item .basic-item-image {
  width: 100%;
  height: auto;
  display: block;
}

.basic-catalog .basic-catalog-item .basic-item-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}

.basic-catalog .basic-catalog-item .basic-item-cost {
  margin-top: 5px;
  font-size: 16px;
  color: #333333;
}

.cart-icon {
  width: 25px; /* Задайте ширину и высоту в соответствии с вашими требованиями */
  height: 25px;
  cursor: pointer; /* Изменение курсора при наведении */
  margin-left: 435px; /* Пример отступа от левого края элемента */
}

.cart-icon.full {
  cursor: pointer; /* Изменение курсора при наведении */
}

.cart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.pagination {
  /* margin-top: 20px; */
  margin: 10px 0 64px 50px;

}

.page-number {
  font-weight: bold;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #CACACA;
  color: #494949;
  text-align: center;
  line-height: 50px;
  margin-right: 5px;
  cursor: pointer;
}

.page-number.active {
  background-color: #494949;
  color: #fff;
}
