.product-info-card {
  margin: 140px 120px 200px 120px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.product-info-card img {
  float: left;
  margin-right: 40px;
}

.product-info-square {
  overflow: hidden;
  margin: -35px 120px 45px 120px;
}

#add-to-cart-btn {
  background-color: #333;
  color: #fff;
  border: none;
  width: 295px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  display: inline-block; 
}

#add-to-cart-btn:hover {
  background-color: #616161;
}

.size-selector-product {
  margin: 20px 1px 3px 2px;
  width: 300px;
  border: 0px solid #aaa;
}

.size-selector-product label {
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #333;
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-right: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.size-selector-product input[type="radio"] {
  display: none;
}

.size-selector-product input[type="radio"]:checked + label {
  background-color: #333;
  color: #fff;
}

.quality-info {
  margin-top: 45px;
  padding: 20px;
  color: #333;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
}
