{% extends "base.html" %}

{% block title %}Elina | About{% endblock %}

{% block content %}
<div class="container-square">
    <div class="about-square">
        <div class="square-content">
            <h2>О нашей компании</h2>
            <p>ELINA - первый российский фэшн-бренд с 30-летней историей. Бренд вдохновлен сильными и талантливыми людьми, которые создали первую в России модную марку одежды. Сегодня ELINA - это стильный капсульный гардероб на каждый день по доступным ценам для миллионов женщин и мужчин. Мы создаём моду вне времени и производим вдохновляющую одежду, которая отражает индивидуальный стиль наших покупателей. ELINA. Просто быть собой.</p>
        </div>
    </div>
</div>
{% endblock %}
