<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Elina{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/catalog.css">
  <link rel="stylesheet" href="/static/css/basket.css">
  <link rel="stylesheet" href="/static/css/about.css">
  <link rel="stylesheet" href="/static/css/profile.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
  <script src="/static/js/base.js"></script>
</head>

<body>
  <div id="header" class="header">
    <img id="menu" class="menu" src="/static/assets/icons/menu.svg" onclick="toggleSidebar()" />
    <div class="header-container">
      <a class="header-title {{ header_style }}" href="/">E L I N A</a>
    </div>
  </div>
  <div id="sidebar" class="sidebar sidebar-hidden">
    <div class="sidebar-header">
      <img class="close" src="/static/assets/icons/close.svg" onclick="toggleSidebar()"/>
      <h1 class="sidebar-title">
        <a href="/">ELINA</a>
      </h1>
    </div>
    <ul>
      <li>
        <a href="/registration">Войти</a>
      </li>
      <li>
        <a href="/catalog">Каталог</a>
      </li>
      <li>
        <a href="/basket">Корзина</a>
      </li>
      <li>
        <a href="/about">О нас</a>
      </li>
    </ul>
  </div>
  
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <footer class="footer">
    <a href="/">Главная</a>
    <a href="/basket">Корзина</a>
    <a href="/catalog">Каталог</a>
    <a href="/about">О нас</a>
    <div class="bottom-label">E L I N A</div>
    <div class="bottom-store">Магазин одежды</div>
    <div class="social-icons">
      <a href="#" class="social-icon"><img src="/static/assets/icons/icon_vk.svg"></a>
      <a href="#" class="social-icon"><img src="/static/assets/icons/icon_tiktok.svg"></a>
      <a href="#" class="social-icon"><img src="/static/assets/icons/icon_youtube.svg"></a>
      <a href="#" class="social-icon"><img src="/static/assets/icons/icon_telegram.svg"></a>
    </div>
  </footer>
</body>

</html>
