{% extends "base.html" %}

{% block title %}Elina | Catalog{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='catalog.css') }}">
<div class="basic-catalog-title">Каталог</div>
<div class="basic-catalog">
  {% for product in products %}
    <div class="basic-catalog-item">
      <a class='no-underline' href="{{ url_for('product', id=product['id']) }}">
        <div class="basic-image-container">
          <img class="basic-item-image" src="{{ product['imageurl'] }}" alt="{{ product['title'] }}">
        </div>
        <div class="basic-item-title">{{ product['title'] }}</div>
        <p class="basic-item-cost">{{ product['price'] }}</p>
      </a>
    </div>
  {% endfor %}
{% endblock %}
